:root {
  --center-col-max-width: 600px;
  --yellow: #ddae59;
}

@font-face {
  font-family: ModecoBold;
  src: url('ModecoTrial-Bold.otf') format('opentype');
}
@font-face {
  font-family: ModecoLight;
  src: url('ModecoTrial-ExtraLight.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* color also set in facebook icon */
  background: #5b2424;
  color: var(--yellow);
}

.main {
  width: 100vw;
  height: 100vh;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.center-column {
  width: 100%;
  max-width: var(--center-col-max-width);
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.decal {
  padding-top: 10px;
  width: 94%;
}

.side-column {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 100%;
}

.details {
  font-family: 'ModecoLight';
  font-size: 0.8em;
  width: 96%;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  animation: 500ms fadeIn 500ms;
  animation-fill-mode: forwards;
}
.event {
  width: 156px;
}
.divider {
  height: 70%;
  margin-top: 20px;
  width: 1px;
  background: var(--yellow);
  opacity: 0.5;
}

.every {
  font-size: 24px;
  letter-spacing: 5px;
}
.date {
  font-size: 52px;
  margin-top: -5px;
}
.first {
  letter-spacing: 8px;
  margin-left: -3px;
}
.third {
  letter-spacing: 3px;
}
.wednesday {
  font-family: 'ModecoBold';
  letter-spacing: 4px;
  font-size: 20px;
  margin-top: -10px;
  margin-left: 2px;
}
.pm {
  font-size: 24px;
  font-family: 'ModecoBold';
}
.venue {
  font-size: 20px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.social {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.social img {
  height: 40px;
}

p {
  font-size: 1.5em;
}

a {
  color: unset;
}

.popup-speakeasy {
  font-family: 'ModecoLight';
  font-size: 3em;
  letter-spacing: 0.1em;
}

.cambridge {
  font-family: 'ModecoBold';
  font-size: 4em;
  margin-top: -0.9em;
}

.free-live {
  font-family: 'ModecoLight';
  font-size: 2em;
}
.jazz {
  font-family: 'DM Serif Display';
}

@media (max-width: 600px) {
  .popup-speakeasy {
    font-size: 2em;
  }

  .cambridge {
    font-size: 1.6em;
    margin-top: -0.8em;
    letter-spacing: 0.07em;
  }

  .free-live {
    font-size: 30px;
    letter-spacing: -2px;
  }
  .jazz {
    font-size: 5em;
    letter-spacing: -3px;
    margin-top: -44px;
    margin-left: -10px;
  }
}
