@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Raleway:900|Open+Sans:400,700');
@font-face {
  font-family: 'Bebas Neue';
  src: url('assets/fonts/BebasNeueBold.woff') format('woff');
}

.under-construction {
  background: yellow;
  box-shadow: 2px 2px 4px 4px rgba(100, 100, 100, 0.1);
  cursor: default;
  font-size: 30px;
  height: 100px;
  padding: 24px;
  padding-left: 200px;
  position: fixed;
  right: -150px;
  top: 50px;
  transform: rotate(45deg);
  width: 600px;
  z-index: 2;
}

body {
  color: #222;
  font-family: 'Open Sans', sans;
}

.is-bold {
  font-weight: 700;
}

.ellipses {
  letter-spacing: 4px;
}

.main-menu {
  animation: fade_in 1.4s 0.3s ease-in forwards;
  left: 14px;
  opacity: 0;
  position: fixed;
  top: 10px;
  z-index: 3;
}

.contact-menu {
  animation: fade_in 1.5s 0.3s ease-in forwards;
  opacity: 0;
  position: fixed;
  right: 20px;
  z-index: 6;
  top: 16px;
}

.contact-menu img {
  float: left;
  margin: 6px;
  transition: all 0.1s;
  width: 18px;
}

.contact-menu img:hover {
  filter: invert(70%) sepia(80%) saturate(40) hue-rotate(320deg);
}

.invert {
  filter: invert(1);
}

.menu-item {
  float: left;
  font-size: 14px;
  padding: 10px 10px;
  text-transform: uppercase;
}

.menu-item a {
  color: #ccc;
  transition: all 0.1s;
}

.menu-item a:hover {
  color: #FF6A65 !important;
}

.main-nav {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.16), 0 2px 7px rgba(0, 0, 0, 0.23);
  height: 62px;
  opacity: 0;
  position: fixed;
  top: -1px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 1;
}

.main-nav-scrolled {
  opacity: 1;
}

.nav-name {
  font-family: 'Architects Daughter';
  font-size: 30px;
  margin: auto;
  text-align: center;
}

.nav-items {
  float: right;
}

.nav-items a {
  color: #999;
  float: left;
  font-size: 14px;
  min-width: 80px;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
}

.nav-items a:hover {
  background: #333;
}

.splash {
  align-items: center;
  background: #1c2331;
  color: white;
  cursor: default;
  display: flex;
  height: 100vh;
  justify-content: center;
  min-height: 300px;
  width: 100%;
}

.splash-content {
  width: 850px;
  margin-left: -200px;
  opacity: 0;
  position: relative;
  animation: fade_in 1s 0.5s ease-in forwards;
}

#dev-name {
  font-size: 57px;
  opacity: 1;
  animation: dev-name-rise 0.7s 0.5s ease-out forwards;
}

  @keyframes dev-name-rise {
    from { transform: translateY(40px) }
    to { transform: translateY(0) }
  }

.headline {
  font-family: Arial;
  font-family: 'Bebas Neue', Helvetica, sans;
  font-size: 120px;
  line-height: 1em;
  word-wrap: break-word;
  text-transform: uppercase;
  animation: headline-rise 0.7s 0.5s ease-out forwards;
}

.headline span {
  color: #aaa;
}

  @keyframes headline-rise {
    from { transform: translateY(60px) }
    to { transform: translateY(0) }
  }

.sub-headline, .section-headline {
  font-family: 'Architects Daughter';
  font-size: 28px;
  opacity: 1;
}

.sub-headline {
  margin-bottom: 10px;
}


#phd {
  animation: phd-rise 0.7s 0.5s ease-out forwards;
}

  @keyframes phd-rise {
    from { transform: translateY(80px) }
    to { transform: translateY(0) }
  }

.dev-skills {
  color: #eee;
  padding-top: 30px;
  display: inline-block;
  animation: dev-rise 0.7s 0.5s ease-out forwards;
}

  @keyframes dev-rise {
    from { transform: translatey(100px) }
    to { transform: translatey(0) }
  }

.dev-skill {
  float: left;
  margin-left: 36px;
}

.dev-skill:first-child {
  margin-left: 0;
}

.dev-skill p {
  text-align: center;
  font-size: 12px;
}

.dev-skill img {
  height: 64px;
  transition: all 0.2s;
}

.dev-skill a:hover > img {
  transform: translateY(-2px) scale(1.05);
  filter: brightness(130%);
}

.click-icons {
  animation: fade_in 1s 1.9s ease-in-out forwards;
  position: absolute;
  bottom: -14px;
  right: -550px;
  opacity: 0;
}

.click-icons * {
  float: left;
}

.click-icons p {
  font-size: 20px;
  font-family: 'Architects Daughter';
  margin: 0 10px;
  padding-top: 20px;
}

.go-down {
  animation: arrow_down 0.7s 1.15s, opacity_pulse 1.3s 1.85s ease-in-out infinite alternate;
  bottom: 3vh;
  color: #ccc;
  font-size: 44px;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.go-down-stopped {
  animation: fade_out 0.5s ease-in-out;
}

#swap-out {
  min-height: 700px;
}
#swap-out img {
  padding-top: 18px;
}

#swap-out .column {
  padding: 20px;
}

#swap-out p {
  padding-top: 1em;
}

h1 {
  font-family: 'Bebas Neue';
  font-size: 80px;
  margin-top: -30px;
  margin-bottom: -20px;
}

.swap__setup {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.swap-letter {
  color: #ff4040 !important;
}

.tech-badge {
  height: 60px;
  padding-right: 8px;
}

.section-headline {
  text-align: center;
}

.transparent {
  opacity: 0 !important;
}

#cross-reference {
  background: #28434D;
  color: white;
  min-height: 2000px;
  text-align: right;
}

.users {
  font-size: 26px;
}

.other-addons img {
  width: 400px;
}

section {
  padding: 4vh 0 10vh 0;
}

.main-section-content {
  padding-top: 8vh;
}

.blog-panel {
  background: black;
  border-radius: 7px;
  color: white;
  float: right;
  font-size: 20px;
  padding: 12px;
  width: 200px;
}

.blog-panel p {
  line-height: 1.1em;
  margin-bottom: 0.5em;
  margin-top: -0.8em;
}

.blog-panel img {
  margin-top: -26px;
  margin-bottom: -10px;
}

.blog-panel button {
  width: 100%;
  margin-top: 20px;
}

/* ANIMATIONS */

@keyframes opacity_pulse {
  from { opacity: 1; transform: translateY(8%); }
  to { opacity: 0.4; transform: translateY(0%); }
}

@keyframes fade_in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade_out {
  from { opacity: 0.6; }
  to { opacity: 0; }
}

@keyframes arrow_down {
  from { opacity: 0; transform: translateY(-200%); }
  to { opacity: 1; transform: translateY(8%); }
}


/* MEDIA RULES */

@media only screen and (max-width: 1200px) {
  .nav-name {
    font-size: 22px;
  }

  .click-icons {
    left: 0;
    bottom: -40px;
  }

  .click-icons img {
    display: none;
  }

  .click-icons p {
    margin: 0;
    padding: 0;
  }

  .dev-skill p {
    font-size: 12px;
  }

  .dev-skill img {
    height: 50px;
  }

  .splash-content {
    height: 520px;
    margin-left: 0;
    width: 422px;
  }
}

@media only screen and (max-width: 660px) {
  .nav-name {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .splash-content {
    height: 300px;
    margin: 0;
    width: 320px;
  }
  .headline {
    font-size: 90px;
  }
  .dev-skill {
    margin-left: 10px;
  }
  #dev-name {
    font-size: 40px;
  }
  .sub-headline {
    font-size: 24px;
  }
}
