@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Raleway:900|Open+Sans:400,700');
@font-face {
  font-family: 'Bebas Neue';
  src: url('assets/fonts/BebasNeueBold.woff') format('woff');
}

a {
  color: inherit;
  text-decoration: none;
}

.under-construction {
  background: yellow;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px 4px rgba(100, 100, 100, 0.1);
  cursor: default;
  font-size: 30px;
  height: 100px;
  position: fixed;
  right: -130px;
  top: 120px;
  transform: rotate(45deg);
  width: 600px;
  z-index: 2;
}

body {
  color: #222;
  font-family: 'Open Sans', sans;
  padding: 0;
  margin: 0;
}

.is-bold {
  font-weight: 700;
}

.ellipses {
  letter-spacing: 4px;
}

#main-menu {
  animation: fade_in 1.4s 0.3s ease-in forwards;
  left: 14px;
  opacity: 0;
  position: fixed;
  top: 10px;
  z-index: 3;
  color: #ccc;
}

#contact-menu {
  animation: fade_in 1.5s 0.3s ease-in forwards;
  opacity: 0;
  position: fixed;
  right: 20px;
  z-index: 6;
  top: 16px;
}

#contact-menu img {
  float: left;
  margin: 6px;
  transition: all 0.1s;
  width: 18px;
}

#contact-menu img:hover {
  filter: invert(70%) sepia(80%) saturate(40) hue-rotate(320deg);
}

.invert {
  filter: invert(1);
}

.menu-item {
  float: left;
  font-size: 14px;
  padding: 10px 10px;
  text-transform: uppercase;
}

.menu-item a {
  transition: all 0.1s;
}

.menu-item a:hover {
  color: #FF6A65 !important;
}

.main-nav {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.16), 0 2px 7px rgba(0, 0, 0, 0.23);
  height: 62px;
  opacity: 0;
  position: fixed;
  top: -1px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 1;
}

.main-nav-scrolled {
  opacity: 1;
}

.nav-name {
  font-family: 'Architects Daughter';
  font-size: 30px;
  margin: auto;
  text-align: center;
}

.nav-items {
  float: right;
}

.nav-items a {
  color: #999;
  float: left;
  font-size: 14px;
  min-width: 80px;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
}

.nav-items a:hover {
  background: #333;
}

.splash {
  align-items: center;
  background: #1c2331;
  color: white;
  cursor: default;
  display: flex;
  height: 100vh;
  justify-content: center;
  min-height: 300px;
  width: 100%;
}

.splash-content {
  width: 850px;
  margin-left: -200px;
  margin-top: -8vh;
  opacity: 0;
  position: relative;
  animation: fade_in 1s 0.5s ease-in forwards;
}

#dev-name {
  font-size: 57px;
  opacity: 1;
  animation: dev-name-rise 0.7s 0.5s ease-out forwards;
}

  @keyframes dev-name-rise {
    from { transform: translateY(40px) }
    to { transform: translateY(0) }
  }

.headline {
  font-family: Arial;
  font-family: 'Bebas Neue', Helvetica, sans;
  font-size: 120px;
  line-height: 1em;
  word-wrap: break-word;
  text-transform: uppercase;
  margin: 20px 0;
  animation: headline-rise 0.7s 0.5s ease-out forwards;
}

.headline span {
  color: #aaa;
}

  @keyframes headline-rise {
    from { transform: translateY(60px) }
    to { transform: translateY(0) }
  }

.sub-headline, .section-headline {
  font-family: 'Architects Daughter';
  font-size: 28px;
  opacity: 1;
}

.sub-headline {
  margin: 10px 0;
}


#phd {
  animation: phd-rise 0.7s 0.5s ease-out forwards;
}

  @keyframes phd-rise {
    from { transform: translateY(80px) }
    to { transform: translateY(0) }
  }

.dev-skills {
  color: #eee;
  padding-top: 30px;
  display: inline-block;
  animation: dev-rise 0.7s 0.5s ease-out forwards;
}

  @keyframes dev-rise {
    from { transform: translatey(100px) }
    to { transform: translatey(0) }
  }

.dev-skill {
  float: left;
  margin-left: 36px;
}

.dev-skill:first-child {
  margin-left: 0;
}

.dev-skill p {
  text-align: center;
  font-size: 12px;
}

.dev-skill img {
  height: 64px;
  transition: all 0.2s;
}

.dev-skill a:hover > img {
  transform: translateY(-2px) scale(1.05);
}

.click-icons {
  animation: fade_in 1s 1.9s ease-in-out forwards;
  position: absolute;
  bottom: -14px;
  right: -550px;
  opacity: 0;
}

.click-icons * {
  float: left;
}

.click-icons p {
  font-size: 20px;
  font-family: 'Architects Daughter';
  margin: 0 10px;
  padding-top: 20px;
}

.go-down {
  animation: arrow_down 0.7s 1.15s forwards;
  color: #ccc;
  font-size: 44px;
  opacity: 0;
  position: absolute;
  bottom: 0;
  height: 90px;
  text-align: center;
  width: 100%;
}

.go-down:hover {
  opacity: .8;
}

h1 {
  font-family: 'Bebas Neue';
  font-size: 80px;
  line-height: 1em;
  margin: 0;
}

h2 {
  margin: 0;
  color: tan;
}

.swap-letter {
  color: #ff4040 !important;
}

.tech-badge {
  height: 40px;
  padding-right: 8px;
}

.section-headline {
  text-align: center;
  padding: 30px;
  padding-bottom: 40px;
}

.transparent {
  opacity: 0 !important;
}

section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  position: relative;
  height: calc(100vh - 61px);
}

.vertical-divider {
  flex-basis: 1px !important;
  padding: 0 !important;
  background: #aaa;
}

.container {
  width: 1400px;
  padding-bottom: 20px;
}

.section-band {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

#swap-out {
  background: gainsboro;
}

#swap-out .go-down{
  color: black;
}

#swap-quotes {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

#swap-video .mask {
  display: flex;
  background: white;
  justify-content: center;
  align-items: center;
  width: 96%;
  overflow: hidden;
  padding: 30px 14px;
  padding-right: 0;
}

.app-screenshot {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.project-tech {
  padding: 10px 0;
}

.triplets div {
  width: 24%;
}

.section-column {
  padding: 10px;
}

.tablet-show {
  display: none !important;
}

.blog-panel {
  background: black;
  border-radius: 7px;
  color: white;
  font-size: 20px;
  padding: 12px;
  height: 120px;
  margin-top: 20px;
}

.blog-panel p {
  line-height: 1.1em;
  float: left;
  width: 70%;
}

.blog-panel img {
  width: 30%;
  float: left;
}

.blog-panel button {
  width: 100%;
  margin-top: 20px;
}

#swap-quotes-tablet {
  border-left: 1px solid #ccc;
  width: 40%;
  text-align: center;
}

#swap-quotes-tablet p {
  padding: 6px 0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#cross-ref {
  color: white;
  background: #1a936f;
}

#cross-ref .section-band:nth-child(2) {
  justify-content: space-between;
}

#cross-details {
  display: flex;
  flex-direction: column;
  text-align: right;
  flex-basis: 32%;
  min-width: 448px;
}

#cross-description p {
  padding-left: 34%;
}

#cross-reviews {
  margin-top: 20px;
}

.review p {
  padding-left: 0 !important;
  padding-right: 20%;
  margin: 4px !important;
  text-align: left;
  font-style: italic !important;
}

.review:not(:last-child) {
  margin-bottom: 29px;
}

#cross-description h2 {
  font-size: 34px;
}

#cross-screen-col {
  flex-basis: 870px;
  padding: 0;
}

#other-docs {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#other-docs .section-column {
  flex-basis: 260px;
}

#other-docs h1 {
  font-size: 50px;
}

#other-docs p {
  margin-top: 5px;
}

.app-screenshot {
  width: 100%;
}

#work {
  background: darkslategray;
  color: ghostwhite;
}

#work .section-column {
  flex-basis: 630px;
}


#work h1 {
  color: ghostwhite;
}

.testimonials {
  display: flex;
}

.testimonial {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.testimonial img {
  width: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 50%;
}

.testimonial p {
  padding: 4px 20px;
}

.testimonial:last-child {
  text-align: right;
  justify-content: flex-end;
}

#final {
  text-align: center;
  height: 700px;
}

#final .container {
  width: 800px;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
}

#final .section-column {
  width: 22%;
}

#final button {
  width: 100%;
  height: 60px;
  background: none;
  color: #222;
  border: 1px solid #222;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.10), 0 2px 4px rgba(0,0,0,0.13);
}

#final .section-headline {
  padding: 0;
}

#final h1 {
  color: #943;
}

/* WIPER */

.wipe-changer {
  position: relative;
  height: 490px;
}

.wipe-changer, .wipe-image, .wiper {
  width: 600px;
}

.wiper {
  position: absolute;
  height: 470px;
}

.wipe-panel {
  width: 50%;
  box-sizing: border-box;
  border-right: 1px solid black;
  position: absolute;
  overflow: hidden;
  height: 100%;
}

.wipe-panel img {
  filter: sepia(0.7);
}

.wipe-image {
  position: absolute;
}

.wipe-slider {
  position: absolute;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  bottom: 0;
  left: -2.3%;
  width: 104%;
}

.wipe-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-bottom: -1px;
  width: 0;
  height: 0; 
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;

}

/* ANIMATIONS */

@keyframes fade_in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade_out {
  from { opacity: 0.6; }
  to { opacity: 0; }
}

@keyframes arrow_down {
  from { opacity: 0; transform: translateY(-200%); }
  to { opacity: .5; transform: translateY(8%); }
}


/* MEDIA RULES */

@media only screen and (max-height: 930px) {
  section {
    height: initial;
  }
}

@media only screen and (max-width: 1200px) {
  section {
    height: initial;
  }

  .vertical-divider {
    flex-basis: 94% !important;
    height: 1px;
  }

  .container {
    width: 90%;
  }

  .nav-name {
    font-size: 22px;
  }

  .click-icons {
    left: 0;
    bottom: -40px;
    width: 400px;
  }

  .click-icons img {
    display: none;
  }

  .click-icons p {
    margin: 0;
    padding: 0;
  }

  .dev-skill p {
    font-size: 12px;
  }

  .dev-skill img {
    height: 50px;
  }

  .splash-content {
    height: 520px;
    margin-left: 0;
    width: 422px;
  }

  .section-band {
    flex-wrap: wrap;
  }

  #swap-description {
    width: 50%;
  }

  #swap-quotes {
    display: none;
  }

  .tablet-hide {
    display: none;
  }

  .tablet-show {
    display: block !important;
  }

  .blog-panel {
    font-size: 16px;
    margin-top: 8px;
    height: 70px;
    text-align: left;
  }

  #cross-ref .section-band:nth-child(2) {
    flex-direction: column-reverse;
  }

  #cross-screen-col {
    flex-basis: initial;
  }

  #cross-details {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  #cross-reviews {
    margin-left: 100px;
    width: 60%;
  }

  #cross-description {
    width: 70%;
  }

}

@media only screen and (max-width: 660px) {
  .nav-name {
    display: none;
  }
  #cross-reviews {
    display: none;
  }
}

@media only screen and (max-width: 601px) {
  #main-menu {
    left: 8px;
  }
  .menu-item {
    padding: 10px 4px;
  }
  .splash {
    min-height: 0;
    height: 100vh;
  }
  .splash-content {
    margin: 0;
    width: 320px;
    text-align: center;
  }
  .click-icons {
    display: none;
  }
  .headline {
    font-size: 90px;
  }
  .dev-skill {
    margin-left: 10px;
  }
  #dev-name {
    font-size: 40px;
  }
  .sub-headline {
    font-size: 24px;
  }
  .section-headline {
    visibility: hidden;
    font-size: 0px;
    padding: 4px;
  }
  .container {
    width: 90vw;
  }
  .section-column {
    padding: 0;
    width: 100% !important;
    margin-top: 10px;
  }
  .tablet-show {
    display: none !important;
  }
  #swap-description p:nth-child(4) {
    display: none !important;
  }
  #cross-details {
    text-align: center;
    min-width: 0;
  }
  #cross-details p {
    padding: 6px 114px;
  }
  #cross-description {
    width: 100%;
  }
}
